# ignore venv
venv/
# ignore data files
data/
# ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
# ignore Python cache files
__pycache__/
*.pyc
# ignore IDE/editor config files
.vscode/
.idea/
# ignore generated prototypes

# ignore logs
logs/
# ignore environment files
.env
# ignore anything files starting with .
.*
